<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <img src="../../assets/cupIcon.ico" alt="">

            <span class="ms-3">
                <strong class="fs-4">
                    TaziMex Panel
                </strong>
            </span>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:5000/html/">
                            <!-- <i class="bi bi-house-fill navbarIcons"></i> Inicio -->
                            <i class="fas fa-house-user navbarIcons"></i> Home
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-users-cog navbarIcons"></i> Admin
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="http://localhost:5000/html/addCup">Add cup</a></li>
                            <li><a class="dropdown-item" href="http://localhost:5000/html/manageCups">Manage cups</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="http://localhost:5000/html/about">
                            <i class="fas fa-info-circle navbarIcons"></i> About
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>